# Temporary build directories
build/
out/**/*.deb
out/**/*.buildinfo
out/**/*.changes
*.o
*.a

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Keep built DEBs for distribution
!out/armv6/foonerd-rattenu*.deb
!out/armhf/foonerd-rattenu*.deb
!out/arm64/foonerd-rattenu*.deb
!out/amd64/foonerd-rattenu*.deb

